Operator Overloading

In [1]:
class Area:
    def __init__(self,l,b):
        self.l =l
        self.b = b
        self.val = l*b

#add operator overloading
    def __add__(self, other):
        if isinstance(other, Area):
            return self.val +other.val
        elif isinstance(other, (int, float)):
            return self.val + other
        else:
        # raise TypeError(f"Invalid type")
            return None

In [2]:
a = Area(10, 20)
b = Area(20, 30)
print(a.val)
print(b.val)

200
600

In [3]:
a + 200

400

In [4]:
class Student:
    def __init__(self,name, Klass, marks = []):
        self.name = name
        self.klass = Klass
        self.marks = marks
    def result(self):
        return sum(self.marks)/len(self.marks)
    def __lt__(self, other):
        if isinstance(other, Student):
            return self.result() < other.result()
    def __str__(self):
        return f"{self.name} from class {self.Klass}"
    def __repr__(self):
        return self.name

In [5]:
s1 = Student("Ravi",3,marks = [95,63,41])
s2 = Student('Vinay', 5, marks = [95,73,71])
s3 = Student('karan', 5 , marks = [75,83,81])

In [6]:
[s1,s2,s3]

[Ravi, Vinay, karan]

In [7]:
from dataclasses import dataclass

In [8]:
@dataclass
class Contact:
    name:str
    phone:str
    email:str

In [9]:
c = Contact("Ravi", "1234567890", "ravi@gmail.com")
c

Contact(name='Ravi', phone='1234567890', email='ravi@gmail.com')

In [10]:
@dataclass
class Studentv2:
    name: str
    klass: int
    marks: list
    def result(self):
        return sum(self.marks)/len(self.marks)

In [11]:
s = Studentv2('Alex', 10, [23,25,23,15,23])
s2 = Studentv2('Alexa',10,[53,55,53,55,52])
print(s)
print(s.result())

Studentv2(name='Alex', klass=10, marks=[23, 25, 23, 15, 23])
21.8