In [1]:
raju = [56,90,67,82,44]
raju_dict = {
    'English': 90,
    'Hindi': 77,
    'Maths': 34,
    'Chemistry' : 34,
    'Evs' : 56
}
print(raju_dict)

{'English': 90, 'Hindi': 77, 'Maths': 34, 'Chemistry': 34, 'Evs': 56}

In [2]:
company = {
    'emp001': {
        'name': "Amar Kumar",
        'designation': 'Assistant III',
        'salary': 32000,
    
    },
    'emp002':{
        'name': 'Ranu Singh',
        'designation': 'Staff officer',
        'salary': 89000

    },
    'total_emp': 2,
    'department': 'Accounts',
    'vacancy': ['clerk', 'manager','assistant I']
}

In [3]:
company

{'emp001': {'name': 'Amar Kumar',
  'designation': 'Assistant III',
  'salary': 32000},
 'emp002': {'name': 'Ranu Singh',
  'designation': 'Staff officer',
  'salary': 89000},
 'total_emp': 2,
 'department': 'Accounts',
 'vacancy': ['clerk', 'manager', 'assistant I']}

In [3]:
company['name'] =' Acme inc.'
print(company)

{'emp001': {'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 32000}, 'emp002': {'name': 'Ranu Singh', 'designation': 'Staff officer', 'salary': 89000}, 'total_emp': 2, 'department': 'Accounts', 'vacancy': ['clerk', 'manager', 'assistant I'], 'name': ' Acme inc.'}

In [4]:
company

{'emp001': {'name': 'Amar Kumar',
  'designation': 'Assistant III',
  'salary': 32000},
 'emp002': {'name': 'Ranu Singh',
  'designation': 'Staff officer',
  'salary': 89000},
 'total_emp': 2,
 'department': 'Accounts',
 'vacancy': ['clerk', 'manager', 'assistant I'],
 'name': ' Acme inc.'}

In [6]:
company['total_emp']= 3
company['emp003'] = {
    'name': 'Ajay Sharma',
    'designation': 'clerk',
    'salary': 45000
}

{'emp001': {'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 32000}, 'emp002': {'name': 'Ranu Singh', 'designation': 'Staff officer', 'salary': 89000}, 'total_emp': 3, 'department': 'Accounts', 'vacancy': ['clerk', 'manager', 'assistant I'], 'name': ' Acme inc.', 'emp003': {'name': 'Ajay Sharma', 'designation': 'clerk', 'salary': 45000}}

In [7]:
company

{'emp001': {'name': 'Amar Kumar',
  'designation': 'Assistant III',
  'salary': 32000},
 'emp002': {'name': 'Ranu Singh',
  'designation': 'Staff officer',
  'salary': 89000},
 'total_emp': 3,
 'department': 'Accounts',
 'vacancy': ['clerk', 'manager', 'assistant I'],
 'name': ' Acme inc.',
 'emp003': {'name': 'Ajay Sharma', 'designation': 'clerk', 'salary': 45000}}

In [8]:
company.get('website')

In [9]:
if 'name' in company:
    print('name exists in dict')

name exists in dict

In [10]:
print(company.keys())
print(company.values())

dict_keys(['emp001', 'emp002', 'total_emp', 'department', 'vacancy', 'name', 'emp003'])
dict_values([{'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 32000}, {'name': 'Ranu Singh', 'designation': 'Staff officer', 'salary': 89000}, 3, 'Accounts', ['clerk', 'manager', 'assistant I'], ' Acme inc.', {'name': 'Ajay Sharma', 'designation': 'clerk', 'salary': 45000}])

In [11]:
print(company.items())

dict_items([('emp001', {'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 32000}), ('emp002', {'name': 'Ranu Singh', 'designation': 'Staff officer', 'salary': 89000}), ('total_emp', 3), ('department', 'Accounts'), ('vacancy', ['clerk', 'manager', 'assistant I']), ('name', ' Acme inc.'), ('emp003', {'name': 'Ajay Sharma', 'designation': 'clerk', 'salary': 45000})])

In [12]:
for i in raju_dict:
    print(i)

English
Hindi
Maths
Chemistry
Evs

In [14]:
for i in company:
    print(company[i])

{'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 32000}
{'name': 'Ranu Singh', 'designation': 'Staff officer', 'salary': 89000}
3
Accounts
['clerk', 'manager', 'assistant I']
 Acme inc.
{'name': 'Ajay Sharma', 'designation': 'clerk', 'salary': 45000}

In [15]:
for k, v in company.items():
    print(k, v)

emp001 {'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 32000}
emp002 {'name': 'Ranu Singh', 'designation': 'Staff officer', 'salary': 89000}
total_emp 3
department Accounts
vacancy ['clerk', 'manager', 'assistant I']
name  Acme inc.
emp003 {'name': 'Ajay Sharma', 'designation': 'clerk', 'salary': 45000}

In [16]:
for k, v in company.items():
    if isinstance(v, dict):
        print(k)
        for key, value in v.items():
            print("--->",key , value)
    else:
        print(k,v)

emp001
---> name Amar Kumar
---> designation Assistant III
---> salary 32000
emp002
---> name Ranu Singh
---> designation Staff officer
---> salary 89000
total_emp 3
department Accounts
vacancy ['clerk', 'manager', 'assistant I']
name  Acme inc.
emp003
---> name Ajay Sharma
---> designation clerk
---> salary 45000

wap to create a dict which takes user input and stores the name of item and its price

In [4]:
grocary = {}
noi =int(input('Enter no. of inputs: '))
for i in range (noi):
    product_name= input("Enter the Product Name: ")
    product_price= input("Enter the price of the product: ")
    grocary[product_name] = product_price
print(grocary)

{'Sugar': '45', 'Tea': '50', 'Milk': '23', 'Pulses': '110'}