*syntax*
'''
def fun_name([parameters]):
    statement 1
    statement 2
    '''
    statement n
    [return value]

Type of user defined functions
1. Non-parameterized non returning function
2. value returning function
3. parameterized function
      - positional required arguments
      - default length arguments
      - keyword arguments
4. parameterized and value returning function
5. Lambda

In [1]:
from random import random

In [2]:
random()

0.26229169052389245

In [1]:
def inspireMe():
    from random import choice
    q = [
        'The best way to predict the future is to invent it.',
        'The most important step is always the next step',
        'Hadwork beats talent',
        'Early to bed'
    ]
    return choice(q)

In [6]:
inspireMe()

'The most important step is always the next step'

In [64]:
def dicey():
    from random import randint
    return randint(1,6)
print(dicey())
print(dicey())

4
6

In [65]:
roll = dicey()
print(roll)

1

In [19]:
dicey() + dicey()* 5

12

In [29]:
def is_prime(num):
    for i in range(2,num):
        if num % i == 0:
            return False
        return True

In [30]:
is_prime(222)

False

In [33]:
def si(p,r,t):
    ans = p*r*t/100
    print('Principle: ',p)
    print("Rate: ",r)
    print("Time: ", t)
    print("Simple Interest: ", ans)

In [34]:
si(12000, 5, 10)

Principle:  12000
Rate:  5
Time:  10
Simple Interest:  6000.0

In [57]:
from string import punctuation
def clean_punc(data):
    for p in punctuation:
        data = data.replace(p, '')
    return data
    
data = '%#h$#i#*^(*)(__&($%##@$^$^%*&))'
clean_punc(data)

'abyegvudgv'

In [66]:
# the expanded way to write a function 
def summer(x:int, y:int, z:int)-> int:
    '''A function that returns that sum of x,y and z'''
    return x+y+z

In [67]:
def summer(x,y,z):
    return x+y+z

In [68]:
print(summer(10,20,30))
print(summer(x=10, y=20, z=30))

60
60

In [7]:
a = int(input('Enter a value: '))
b = int(input('Enter a value: '))
c = int(input('Enter a value: '))
ans = summer(x=a, y=b, z=c)
print(ans)

14

In [8]:
summer(y = 10, x = 20, z = 2)

32

In [14]:
def multiplier(a,b=1,c=1,d=1):
    return a*b*c*d
print(multiplier(10))
print(multiplier(10, b=2))
print(multiplier(10,3))
print(multiplier(10, d = 10, c = 20, b = 30))

10
20
30
60000

In [16]:
def multiplier(*nums):
    result = 1
    for num in nums:
        result *= num
        return result
print(multiplier())
print(multiplier(10))
print(multiplier(10,20))
print(multiplier(10,2,3,1,2,4,5))
print(multiplier(2,3,4,5,6,4,3,3,25,64))

None
10
10
10
2

In [17]:
#variable length keyword arguments
def msg(**kwargs):
    for k, v in kwargs.items():
        print(k, v)
msg(a = 'this', b = 'that', c = 'the other', d = 'something')

a this
b that
c the other
d something

In [20]:
#records
def student_records(**students):
    with open('recirds.txt', 'a') as file:
        file.write(f'Student details\n')
        for k,v in students.items():
            file.write(f'{k} : {v}\n')
        file.write('\n')
    return 'Records saved successfully'
student_records(
    alex = 88,
    arun = 45,
    rajesh = 59,
    suresh  = 98,
    ali = 66
)

'Records saved successfully'

In [21]:
student_records(
    anmol = 91,
    saqib = 84,
    ansh = 70
)

'Records saved successfully'

`f(x) = x**2 + x*10 + x`

`g(x,y) = x**y + y**2 + x*y`

In [27]:
f = lambda x: x**2 + x*10 + x
g = lambda x, y: x**2 + y**2 + x*y
print(f(3))
print(f(4))
print(g(3, 4))

42
60
37

Map,reduce

In [29]:
data = [12,3,5,3,5,13,54]
data2 = []
for val in data:
    data2.append(f(val))
print(data2)

[276, 42, 80, 42, 80, 312, 3510]

In [30]:
data = [12,3,5,3,5,13,54]
data2 = list(map(f, data))
print(data2)

[276, 42, 80, 42, 80, 312, 3510]