#### list
- indexed, ordered, mutable, allows duplicate elements, heterogeneous, '[ ]','list()'
#### tuple
- indexes, ordered, **immutable**, allows duplicate elements, heterogeneous,'{ }','set()'
#### dictionary
- **unordered**, mutable,**does not allow duplicate keys**, heterogenous, key:value pairs, '{ }', 'dict()'

# list
- creating
- indexing and slicing
- methods(11)
- list comprihension

In [2]:
x = [1,2,3,4,5]
names = ['John','Paul','George','Ringo']
mix = [1,'john',3.14, True]
nested = [1,2,3] * 5
words = 'this is sparta'.split()
chars = list('Alexander')

In [5]:
print(x[0])
print(x[-1])
x[0] = 100

1
5

In [5]:
chars[:5]

['A', 'l', 'e', 'x', 'a']

In [6]:
chars[::-1]

['r', 'e', 'd', 'n', 'a', 'x', 'e', 'l', 'A']

- adding
    - append()- adds an element to the end of the list
    - extend() - adds all elements of one list to another list
    - insert() - adds an element at a specific index

- Removing
    - remove()
    - pop()
    - clear()

In [3]:
x.append(6)
x.append(3)
print(x)

[1, 2, 3, 4, 5, 6, 3]

In [8]:
a = [11,12,13]
x.extend(a)
print(x)

[100, 2, 3, 4, 5, 6, 3, 11, 12, 13]

In [9]:
x.insert(5,100)
x.insert(6,500)
print(x)

[100, 2, 3, 4, 5, 100, 500, 6, 3, 11, 12, 13]

In [1]:
udata = []
for i in range (10):
    x = input('Enter the values')
    udata.append(x)
print(udata)

['1', '2', '5', '6', '8', '9', '7', '4', '10', '11']

In [19]:
if '5' in udata:
    udata.remove('5')
print(udata)

['1', '2', '3', '4', '6', '7', '8', '9', '10']

In [21]:
udata.remove('14') if '14' in udata else print('14 not found')

14 not found

In [23]:
x = [1,2,3,4,5]
print(x.pop())
print(x.pop(2))

5
3

In [24]:
del x

In [25]:
a = [1,2,3,3,1,1,4,1,3,1,3]

In [26]:
names.sort()
print(names)

['George', 'John', 'Paul', 'Ringo']

In [39]:
x = [0,1]
for i in range(10):
    x.append(x[-2]+ x[-1])
print(x)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [3]:
x = [1,2,3,4,5]
x2 = []
for i in x:
    s = i**2
    x2.append(s)
print(x)
print(x2)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [17]:
names = ['Peter Parker', 'Bruce Wayne', 'Clark Kent']
fnames = []
for nm in names:
    fnames.append(nm.split()[0])
print(fnames)

['Peter', 'Bruce', 'Clark']

In [13]:
list =[1,2,3,4,5,6,7,8,9]
list2 = []
for i in list:
    if i %2==0:
        list2.append(i)
print(list2)

[2, 4, 6, 8]

In [18]:
x2 = [i**2 for i in x]
print(x2)

[1, 4, 9, 16, 25]

In [19]:
lnames = [nm.split()[-1] for nm in names]
print(lnames)

['Parker', 'Wayne', 'Kent']

In [20]:
x = [1,2,3,4,5,6,7,8,9,10,12]
xevens = [ i for i in x if i % 2 ==0]
print(xevens)

[2, 4, 6, 8, 10, 12]

In [1]:
x = ['1','2','3','4','5','6','','10']
x_clean = [int(i) for i in x if i.isnumeric()]
print(x_clean)

[1, 2, 3, 4, 5, 6, 10]

In [2]:
files = ['1.jpg','3.png','2.png','4.tif','5.tif']
jpg_files = [file for file in files if file.endswith('.jpg')]
png_files = [files for file in files if file.endswith('.png')]
print(jpg_files)
print(png_files)

['1.jpg']
[['1.jpg', '3.png', '2.png', '4.tif', '5.tif'], ['1.jpg', '3.png', '2.png', '4.tif', '5.tif']]

In [3]:
jpg_files = []
for file in files:
    if file.endswith('jpg'):
        jpg_files.append(file)
print(jpg_files)

['1.jpg']

In [4]:
y = [1,2,3,4,5,1,2,3,4,5,8,7,5,8,6,5,4,2,9,6,3,1,5,6,7,9,3,4,5,6,7,1,2,3,4,7,9,4,9,8,10]
x = [a*a*a for a in y if a%2!=0]
print (x)

[1, 27, 125, 1, 27, 125, 343, 125, 125, 729, 27, 1, 125, 343, 729, 27, 125, 343, 1, 27, 343, 729, 729]