LOOP

'''

for temp_var in iterable:
    statement 1
    '''
    statement n

iterables are string list, tuple,set,dict, generator, etc

In [1]:
nums = [1,23,5,6,3,6,21,6,6]
for i in nums:
    print(i**2)

1
529
25
36
9
36
441
36
36

In [3]:
names = ['John','Jane','Jack','Jill']
for name in names:
    print(name)

John
Jane
Jack
Jill

In [4]:
names = ['John','Jane','Jack','Jill']
for name in enumerate(names):
    print(name)

(0, 'John')
(1, 'Jane')
(2, 'Jack')
(3, 'Jill')

In [5]:
names = ['John','Jane','Jack','Jill']
for idx, name in enumerate(names):
    print(name,idx)

John 0
Jane 1
Jack 2
Jill 3

In [9]:
x =[2,4,6,8,10]
y = [1,3,5,7,9]
z = [3,6,8,12,16]
for i,j,k in zip(x,y,z):
    print(i*j+k)

5
18
38
68
106

In [12]:
movies = ['Interstellar', 'The Martian','Gravity','Apollo 13']
rating = [8.6,8.0,7.7,7.6]

for name, star in zip(movies, rating):
    print(f'{name:20}{star}⭐')

Interstellar        8.6⭐
The Martian         8.0⭐
Gravity             7.7⭐
Apollo 13           7.6⭐